body {
	color: black !important;
}


.topnav
{
	background-color; #00BFFF !important;
    text-align: left;
}

.logo {
	background-color: #00BFFF !important;
  width: 100vw;
  padding: 3vw 10vw 3vw 10vw;

}


.text_input {
	margin-left: 5vw;
	width: 30vw;
	height: 3em;
}

.modern_button {
<<<<<<< HEAD
  background-color:#cce6ff;
	border:none;
	display:inline-block;
=======
  background-color:#00BFFF;
	display; inline-block;
	border:1px solid #18ab29;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size: 1.5em;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    height:7%;
	padding:.27em 31px;
	text-decoration:none;
}

#show_map_button {
	margin-left: 5vw;
}

.text_label {
  margin-left: 5vw;
  font-weight: bold;
}

#categories {
	margin-left: 2.5vw;
	width: 30vw;
	height: 3em;
	display: inline-block !important;
	white-space: nowrap !important;
}

#submit_category_button {
	margin-left: .4vw;
}

li {
	font-size: 2em;
	margin-left: 2.3vw;
	list-style-type: none;
}

.bottom
{
    text-align: left;
}


#mode{
  visibility: hidden;
}

#mode2{
  visibility: hidden;
}

#searchBox
{
    height:7%;
}

li
{
    list-style-type: none;
}

li { background: white; }
li:nth-child(odd) { background: #e6f2ff; }

#searchForm
{
    float: right;
}

#categories
{
    width:125px;
}

.listing
{
    width: 80%;
}
